/*  your css code here. If applicable */
#navbar
{
    text-align:center;
    background-color:  #011e29;
    width: 100%;
	color:white;
    padding:20px 20px;
    font-size: x-large;
    position: fixed;
    z-index: 1000;
}

#section
{
	display: flex;
    justify-content: space-between;

}
#main
{
	position:relative;
	top:80px;
}
.latest-news-section
{
	
	background-color:white;
	border-radius:15px;
	padding:7px;
	width:30%;
	height:20%;
	
}

#two
{
	background-color:white;
	border-radius:15px;
	padding:7px;
	width:33%;
	height:40%;
}
img{
	padding:10px;
}
.pictorial-news-section
{
	background-color:white;
	border-radius:15px;
	padding:7px;
	width:33%;
	text-align:center;
	display: flex;
	flex-direction:column;
	height:80%;
	
}